{{{include '../../layout/header'}}}
<!-- 外部CSS资源文件引入 -->

  </head>
  <body>


 hello123


 <div>
      <input id="upload" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple/>
      <div id="viewImg"></div>
 </div>
 <br>
 <div>
      <input id="fileupload" type="file"  accept="image/jpg,image/jpeg,image/png,image/gif" />
      <div id="viewImg2"></div>
 </div>
 <br>
 <div>
   <form>
     <input id="file-field" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple/>
   </form>

      <div id="viewImg3"></div>
 </div>

 <!-- <script src="/javascripts/lib/upload/lrz.bundle.js"></script> -->
 <!-- <script type="text/javascript" src="/javascripts/main-manager/imageUpload.js"></script> -->

 {{{include '../../layout/footer'}}}
